@import url('https://css.gg/check-r.css');
body {
  background-color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
}
h3 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
h4 {
  margin-top: 0;
}
.template {
  background-color:rgb(48, 42, 42);
  height: 100vh;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.name-and-job > h1{
  margin-top: 0;
  margin-left: 2vh;
  margin-bottom: 0;
}
.about-me {
  color:rgb(139, 135, 135);
  font-size: 2vh;
}
.name-and-job > p {
  margin-top: 0;
  margin-left: 2vh;
  color: rgb(132, 132, 211);
}
.info {
  margin-top: 0;
  font-size: 2vh;
  margin-left: 14vh;
}
.info > p {
  margin: 1.16vh;
  color: grey;
}
.profile {
  flex-wrap: wrap;
  border-bottom: 4px solid black;
  display: flex;
  padding: 2vh;
  color:white;
}
.shweta {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.qualifications {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: grid;
  background-color:orange;
  height:250%;
  grid-template-columns:2fr 1fr;
  grid-column-gap: 5vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.technical-skills {
  margin-top: 0px;
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  list-style-image: url('check.svg')
}
.education-content {
  margin-top: 4vh;
  text-align: left;
  margin-left: 2vh;
}
.pro-experience {
  height: 1000px;
}
.pro-experience > h3 {
  border-right: 2px solid black;
}
.pro-experience li {
  margin-left: 5vh;
  font-size: 2vh;
}
.education > h3 {
  margin-left: 0;
  text-align: center;
  border-right: 2px solid black;
}
.technical-skills > h3 {
  border-left: 2px solid black;
}
#item > h3 {
  background-color: rgb(236, 200, 132);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.langs {
  list-style-image: url('check.svg')
}
.education-content li {
  margin-top: 1vh;
  margin-left: 5vh;
}